# Exclude all virtual environments regardless of which folder they are in
**/venv/
**/.venv/
**/env/

# Python cache
**/__pycache__/
**/*.pyc

# Exclude environment variable files (secrets)
.env
.env.local